body {
    /* --bs-body-bg: #333333; */
    --bs-body-bg: #fff;
}

section {
    scroll-margin-top: 56px;
}

section.content {
    margin-top: 50px;
}

.projects-card {
    max-width: 900px;
    margin: 24px auto;
}

.projects-icon {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.footer-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.navbar-brand {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.navbar-brand.show {
    opacity: 1;
}

.navbarScroll {
    transition: background-color 1s ease-in-out;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

#progress {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
}

/* background image */
.bgimage {
    height: 100vh;
    background: url('images/background.jpg');
    background-size: cover;
    position: relative;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
    color: #008000;
}

.fab {
    color: #000000;
}

/* footer styling */
#footer {
    background-color: #707070;
    text-align: center;
}